<div id="wrapper">

	<div ng-include="'views/sidemenu.html'" class="bg-gradient-primary"></div>

	<div id="content-wrapper" class="d-flex flex-column">

		<div id="content">

			<div ng-include="'views/header.html'"></div>

			<div class="container-fluid">
				<form>
					<div class="col col-xs-12">
						<div class="row">
							<div class="col col-sm-4">
								<div class="form-group">
									<label>Nombre</label>
									<input type="text" ng-model="form.nombre" class="form-control" placeholder="Nombre">
								</div>
							</div>
							<div class="col col-sm-4">
								<div class="form-group">
									<label>Apellido Paterno</label>
									<input type="text" ng-model="form.apellido_paterno" class="form-control" placeholder="Apellido paterno">
								</div>
							</div>
							<div class="col col-sm-4">
								<div class="form-group">
									<label>Apellido Materno</label>
									<input type="text" ng-model="form.apellido_materno" class="form-control" placeholder="Apellido materno">
								</div>
							</div>
                        </div>
						<div class="row">
                            <div class="col col-sm-4">
                                <div class="form-check">
                                    <input type="checkbox" ng-model="form.es_cliente" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Tambien es cliente</label>
                                </div>
                            </div>

							<div class="col col-sm-2">
								<div class="form-group">
									<button type="submit" class="form-control btn btn-primary" ng-click="agregar()">Agregar usuario</button>
								</div>
							</div>
						</div>
					</div>
				</form>

				<br>

				<form>
					<div class="col col-xs-12">
						<div class="row">
							<div class="col col-xs-4">
								<div class="form-group">
									<label>Buscar</label>
									<input type="text" class="form-control" ng-model="search" placeholder="Nombre">
								</div>
							</div>
						</div>
					</div>
				</form>

				<div class="col col-sm-12">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Nombre</th>
								<th scope="col">Apellido Paterno</th>
								<th scope="col">Apellido Materno</th>
								<th scope="col">Es Cliente</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="doctores.length == 0">
								<td colspan="2" align="center">Sin registros</td>
							</tr>
							<tr ng-repeat="item in doctores | filter: search">
								<td>{{item.id_doctor}}</td>
								<td>{{item.nombre}}</td>
								<td>{{item.apellido_paterno}}</td>
								<td>{{item.apellido_materno}}</td>
								<td>{{item.es_cliente ? 'Si':'No'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="js/sb-admin-2.min.js"></script>