<div id="wrapper">

    <div ng-include="'views/sidemenu.html'" class="bg-gradient-primary"></div>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <div ng-include="'views/header.html'"></div>

            <div class="container-fluid">
                <form>
                    <div class="col col-xs-12">
                        <div class="row">
                            <div class="col col-xs-4">
                                <div class="form-group">
                                    <label>Buscar</label>
                                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="col col-sm-12">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Fecha Alta</th>
                                <th scope="col">Fecha Inicio</th>
                                <th scope="col">Fecha Fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="polizas.length == 0">
                                <td colspan="2" align="center">Sin registros</td>
                            </tr>
                            <tr ng-repeat="item in polizas | filter: search">
                                <td>{{item.id_poliza}}</td>
                                <td>{{item.fecha_alta}}</td>
                                <td>{{item.fecha_inicio}}</td>
                                <td>{{item.fecha_fin}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="js/sb-admin-2.min.js"></script>